@model WannabeReddit.Models.Post
@using Microsoft.AspNet.Identity
@using WannabeReddit.Models;

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>


    <h4>@Html.DisplayFor(model => model.Body)</h4>
    
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
