@model IEnumerable<WannabeReddit.Models.Post>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wannabe Reddit Clone</h1>
    <p class="lead">Welcome to the redditt knock-off</p>
    
</div>

<div class="container">

    <ul class="list-group">
        <li class="list-group-item active"> 
        <div class="row">
          <div class ="col-md-8"><strong>Top posts</strong></div>
            @if (HttpContext.Current.User.Identity.IsAuthenticated)
            {

            <div class="col-md-4">@Html.ActionLink("Create Post", "Create", "Posts", null, new { @class = "btn btn-primary btn-lg &raquo" })</div>
            }
           </div>
        </li>


       @foreach (var item in Model)
       {
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-2">
                    <img src="/Images/doublezero.jpg" alt="gundamu" class="img-thumbnail img-responsive">
                </div>
                <div class="col-md-10">
                    <strong>@item.Title</strong>
                    <p>@item.Body</p>
                    <p>Total Upvotes @item.UpVotes <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></p>
                </div>

            </div>
        </li>
       }

    
        
        
        <li class="list-group-item disabled">
            <div class=" text-center">
                <ul class="pagination">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>


        </li>
    </ul>
</div>
