@model IEnumerable<WannabeReddit.Models.Post>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wannabe Reddit Clone</h1>
    <p class="lead">Welcome to the redditt knock-off</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">New account &raquo;</a></p>
</div>

<div class="container">

    <ul class="list-group">
        <li class="list-group-item active"><strong>Top posts</strong></li>

       @foreach (var item in Model)
       {
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-2">
                    <img src="/Images/doublezero.jpg" alt="Darts" class="img-thumbnail img-responsive">
                </div>
                <div class="col-md-10">
                    <strong>@item.Title</strong>
                    <p>@item.Body</p>
                </div>

            </div>
        </li>
       }

            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-2">
                        <img src="/Images/doublezero.jpg" alt="Darts" class="img-thumbnail img-responsive">
                    </div>
                    <div class="col-md-10">
                        <strong>First Day of C#</strong>
                        <p>It was been of my best day yet. I was able to keep up with the content in class and complete the level 3 assignment!  </p>
                    </div>
                    
                </div>
            </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-md-2">
                    <img src="/Images/doublezero.jpg" alt="Darts" class="img-thumbnail img-responsive">
                </div>
                <div class="col-md-10">
                    <strong>First Day of C#</strong>
                    <p>It was been of my best day yet. I was able to keep up with the content in class and complete the level 3 assignment!  </p>
                </div>

            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-md-2">
                    <img src="/Images/doublezero.jpg" alt="Darts" class="img-thumbnail img-responsive">
                </div>
                <div class="col-md-10">
                    <strong>First Day of C#</strong>
                    <p>It was been of my best day yet. I was able to keep up with the content in class and complete the level 3 assignment!  </p>
                </div>

            </div>
        </li>
        

        <li class="list-group-item disabled">
            <div class=" text-center">
                <ul class="pagination">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>


        </li>
    </ul>
</div>
</div>